head
  title Request a Password Reset | Willow
  include /views/global/head.pug
body
  include /views/global/header.pug
  .container.center
    h1 Forgot your password?
    p Type your email below to send a password reset link. The link will expire after 24 hours.
    .panel(style="width: 400px;")
      form.m-0(method="post")
        table(style="margin-bottom: 10px;")
          tr
            td.col-left Email
            td.col-right
              input(name="email" type="email" required)
        input.btn.btn-green(type="submit" value="Request")
