-
  const _bannerText = {
    'invalid_credentials': 'The email or password you entered was invalid. Please check your credentials and try again.',
    'password_changed': 'Your password has been changed. You may now log in using your new credentials.',
    'reset_link_sent': 'A password reset link has been sent to your email.',
  }[_bannerId];

doctype html
html(lang='en')
  head
    title Log in | Willow
    include /global/head.pug
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Log in
      form.large-form(method='POST')
        input(name='_csrf' type='hidden' value=csrfToken)
        .field.field-required
          .left
            label(for='field-email') Email
          input#field-email(name='email' type='email' required)
        .field.field-required
          .left
            label(for='field-password') Password
          input#field-password(name='password' type='password' required)
        input.btn.btn-primary(type='submit' value='Log in')
      a.small(href=`${env.BASE_URL}/auth/reset`) Forgot your password?
    include /global/footer.pug
