head
  title Willow
  include /views/global/head.pug
  link(rel="stylesheet" href="/css/auth.css")
body
  include /views/global/header.pug
  .container.center
    h1 Log in
    .panel(style="width: 400px;")
      form.m-0(method="post")
        table
          tr
            td.col-left Email
            td.col-right
              input(name="email" type="email" required)
          tr
            td.col-left Password
            td.col-right
              input(name="password" type="password" required)
        .right(style="margin-bottom: 10px;")
          div
            label#remember-me
              input(name="rememberMe" type="checkbox")
              span.small Remember me
          div
            a.small(href="/auth/reset") Forgot your password?
        input.btn.btn-green(type="submit" value="Log in")
