doctype html
html(lang='en')
  head
    title Log in | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Log in
      form.large-form(method='POST')
        input(name='_csrf' type='hidden' value=csrfToken)
        .field.field-required
          .left
            label(for='field-email') Email
          input#field-email(name='email' type='email' required)
        .field.field-required
          .left
            label(for='field-password') Password
          input#field-password(name='password' type='password' required)
        input.btn.btn-primary(type='submit' value='Log in')
      a(href=`${env.BASE_URL}/auth/reset`) Forgot password
    include /global/footer.pug
