head
  title Register | Willow
  include /views/global/head.pug
  link(rel="stylesheet" href="/css/auth.css")
body
  include /views/global/header.pug
  .container.center
    h1 Register
    .panel(style="width: 400px;")
      form.m-0(method="post")
        table(style="margin-bottom: 10px;")
          tr
            td.col-left Email
            td.col-right
              input(name="email" type="email" required)
          tr
            td.col-left Password
            td.col-right
              input(name="password" type="password" required)
        input.btn.btn-green(type="submit" value="Register")