doctype html
html(lang='en')
  head
    title Register | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Register
      form.large-form(method='POST')
        div
          .left
            label(for='field-email') Email
          input#field-email(name='email' type='email' required)
        div
          .left
            label(for='field-password') Password
          input#field-password(name='password' type='password' required)
        div
          .left
            label(for='field-rcs-id') RCS ID
          input#field-rcs-id(name='rcs_id' type='text' placeholder='For RPI students')
        input.btn.btn-primary(type='submit' value='Create account')
