head
  title Password Reset | Willow
  include /views/global/head.pug
  link(rel="stylesheet" href="/css/auth.css")
body
  include /views/global/header.pug
  .container.center
    h1 Reset your password
    .panel
      form.m-0(method="post")