head
  title Users | Administration | Willow
  include /views/global/head.pug
  script(src="/js/admin/users.js" type="text/javascript")
body
  - const page = 'administration/users';
  include /views/global/header.pug
  .container.center
    h1 Users
    if users
      div(style="padding: 0px 30%;")
        table.left.table-style-simple(align="center" style="width: 500px;")
          thead
            tr
              th.col-grow Email
              th Instructor
          tbody
            for user in users
              tr
                td.col-grow= user.email
                td.center
                  input(type="checkbox" checked=user.instructor onchange="onInstructorChange(this)")
