script(src=assets.vue type="text/javascript")
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
script(src="https://kit.fontawesome.com/b183dd351f.js" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/g/filesaver.js")
link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
link(href="/css/index.css" rel="stylesheet" type="text/css")
