/* If you add a color to this file, make sure to add it in ../colors.css as well */

[data-theme="dark"] {
    /* global colors */
    --text-dark: #ffffff;
    --text-light: #000000;
    --background: #36393f;

    /* Toolbar */
    --toolbar-background: #202225;
    --toolbar-dropdown-hover: #6c6c6c;
    /* --toolbar-dropdown-menu-shadow: rgba(0, 0, 0, 0.5); */
    --toolbar-dropdown-menu-option: #3a3c40;
    --toolbar-dropdown-menu-option-hover: #8A8AFF;
    /* --toolbar-dropdown-menu-dividing-line: #d0d0d0; */

    /* Truth tree */
    --statement-correct: #80c080;
    --statement-incorrect: #ee3b3b;
    --statement-error: #d0d000;
    --comment: #00dd00;
    --premise-label: #ffffff;
    --tt-chevron: #ffffff;
    --selected: rgba(34, 82, 130, 0.5);
    --antecedent: rgba(81, 130, 81, 0.5);
    --decomposition: rgba(192, 128, 128, 0.5);

    /* Status bar */
    --status-bar-foreground: #ffffff;
    --status-bar-background: rgba(0, 0, 0, 0.5);

    /* Misc */
    --header: #276427;
    --card-background: #202225;
    /* --card-shadow: rgba(0, 0, 0, 0.5); */
    --clear-shortcut: #ffffff;
    --modal-close-btn: #ffffff;
}

/* Black logo gets inverted to white on dark mode */
[data-theme="dark"] .logo-img {
  filter: invert(1);
}
