doctype html
html(lang='en')
  head
    title My Assignments | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Assignments
      for assignment in assignments
        div
          h3= assignment.name
          p= assignment.course_name
          p= assignment.due_date
    include /global/footer.pug
