-
  const codes = {
    400: 'Your request was invalid.',
    401: 'You must sign in before accessing this page.',
    403: 'You do not have permission to access this page.',
    404: 'This page does not exist.',
    500: 'An internal server error occurred.',
  }

doctype html
html(lang='en')
  head
    title #{code} | Willow
    include /global/head.pug
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2.title= code
      h3.subtitle= codes[code] ?? 'An unknown error occurred.'
    include /global/footer.pug
