head
  title Willow
  include /views/global/head.pug
  script(src="/js/controls.js" type="text/javascript")
  script(src="/js/substitutions.js" type="text/javascript")
  script(src="/js/logic/statement.js" type="text/javascript")
  script(src="/js/logic/tree.js" type="text/javascript")
  script(src="/js/index.js" type="text/javascript" defer)
body
  include /views/global/header.pug
  .toolbar
    .dropdown
      button File
      .dropdown-menu(style="display: none;")
        button.menu-option New
        hr
        button.menu-option Open
        button.menu-option Save
        hr
        button.menu-option Close
    .dropdown
      button Edit
    .dropdown
      button Help
      .dropdown-menu(style="display: none;")
        button.menu-option Tutorial
        hr
        button.menu-option About Willow
  .container#tree-container
    tree-node(:node="root" :level="1" style="margin-left: 0px;")
