head
  title Willow
  include /views/global/head.pug
  script(src="substitutions.js" type="text/javascript")
  script(src="logic/statement.js" type="text/javascript")
  script(src="logic/tree.js" type="text/javascript")
body
  include /views/global/header.pug
  .container
    div(style="text-align: center;")
      input(type="text" oninput="makeSubstitutions(this)")