head
  title Willow
  include /views/global/head.pug
  script(src="/js/file-management.js" type="text/javascript")
  script(src="/js/controls.js" type="text/javascript")
  script(src="/js/substitutions.js" type="text/javascript")
  script(src="/js/utils/arrays.js" type="text/javascript")
  script(src="/js/logic/statement.js" type="text/javascript")
  script(src="/js/logic/tree.js" type="text/javascript")
  if tree === "sample"
    script(src="/js/sample.js" type="text/javascript")
  else if tree === "eli"
    script(src="/js/eli.js" type="text/javascript")
  else
    script(type="text/javascript").
      const root = {node: new TreeNode([""])};
  script(src="/js/index.js" type="text/javascript" defer)
body
  include /views/global/header.pug
  .toolbar
    .dropdown
      button File
      .dropdown-menu(style="display: none;")
        a.menu-option(href="/" target="_blank") New
        hr
        button.menu-option(onclick="openFile()") Open
        button.menu-option(onclick="vm.name = prompt('Enter the new name for this truth tree:') || vm.name") Rename
        button.menu-option(onclick="saveFile()") Save
        button.menu-option(onclick="exportToTFT()") Export to TFT
        hr
        button.menu-option(onclick="window.close()") Close
    .dropdown
      button Edit
      .dropdown-menu(style="display: none;")
        button.menu-option(onclick="undo()") Undo
        button.menu-option(onclick="redo()") Redo
        hr
        button.menu-option(onclick="addStatementBefore()") Add Statement Before
        button.menu-option(onclick="addStatementAfter()") Add Statement After
        button.menu-option(onclick="deleteStatement()") Delete Statement
        hr
        button.menu-option(onclick="addBranch()") Add Branch
        button.menu-option(onclick="deleteBranch()") Delete Branch
        button.menu-option(onclick="endBranch()") End Branch
        button.menu-option(onclick="$('#keybindings-panel').slideDown()") Keybindings
    .dropdown
      button Help
      .dropdown-menu(style="display: none;")
        button.menu-option Tutorial
        hr
        button.menu-option(onclick="$('#about-panel').slideDown()") About Willow
  div(style="display: none;")
    input#open-file(type="file" onchange="loadFile(event)")
  .container#tree-container
    tree-node(:node="root.node" style="margin-left: 0px;")
  #about-panel(style="display: none;")
    i.fas.fa-times.close-button(onclick="$(this).parent().slideUp()")
    img(src="/img/logo.png" width="200")
    div(style="display: inline-block; margin-left: 30px;")
      h3 Willow
      p Current commit: #{commit}
  #keybindings-panel(style="display: none;")
    .div#keybindings
      i.fas.fa-times.close-keybindings(onclick="$(this).parent().slideUp()")
      keybindings
