doctype html
html(lang='en')
  head
    title Untitled | Willow
    include /global/head.pug
    link(href='./css/index.css' rel='stylesheet' type='text/css')
    link(href='./css/colors.css' rel='stylesheet' type='text/css')
    link(href='./css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    #content
      #toolbar
        .dropdown
          button File
          .dropdown-menu(style={display: 'none'})
            a.menu-option(href='/' target='blank') New
            hr
            button.menu-option(@click='openFile') Open
            .hidden
              input#open-file(type='file' @change='loadFile($event)')
            hr
            button.menu-option(@click='saveFile') Save
            button.menu-option(@click='saveFileAs') Save as...
            hr
            button.menu-option(onclick='window.close()') Quit
        .dropdown
          button Edit
          .dropdown-menu(style={display: 'none'})
            button.menu-option(@click='togglePremise') Toggle premise
            hr
            button.menu-option(@click='addStatementBefore') Add statement before
            button.menu-option(@click='addStatementAfter') Add statement after
            button.menu-option(@click='createBranch') Create branch
            hr
            button.menu-option(@click='deleteStatement') Delete statement
            button.menu-option(@click='deleteBranch') Delete branch
        .dropdown
          button Evaluate
          .dropdown-menu(style={display: 'none'})
            button.menu-option(@click='checkCorrectness') Check correctness
            button.menu-option(@click='checkRepresentation') Check representation
        .dropdown
          button Options
          .dropdown-menu(style={display: 'none'})
            button.menu-option(onclick='document.querySelector("#shortcuts-modal").style.display = "initial"') Shortcuts
            button.menu-option(onclick='document.querySelector("#substitutions-modal").style.display = "initial"') Substitutions
            hr
            button.menu-option(@click='toggleTheme') Toggle theme
        .dropdown
          button Help
          .dropdown-menu(style={display: 'none'})
            a.menu-option(href='https://github.com/connorjayr/Willow/blob/master/userguide.md' target='_blank') User guide
            hr
            button.menu-option(onclick='document.querySelector("#about-modal").style.display = "initial"') About
            hr
            a.menu-option(href='https://github.com/connorjayr/Willow/issues' target='_blank') Report a bug
            button.menu-option(@click='toggleDeveloperMode') Toggle developer mode
      .container.center
        h2 {{ name }}
        .truth-tree.left
          truth-tree
      #about-modal.modal.card(style={display: 'none'})
        i.fas.fa-times.modal-close(onclick='this.parentNode.style.display = "none"')
        .row
          img.logo-img(src='./img/logo.png' width='100')
          div
            h2 About Willow
            p Commit #{commit}
      #shortcuts-modal.modal.card(style={display: 'none'})
        i.fas.fa-times.modal-close(onclick='this.parentNode.style.display = "none"')
        h2.center Shortcuts
        table
          thead
            tr
              th Action
              th Shortcut
          tbody
            tr
              td Toggle premise
              td
                key-recorder(@toggle-premise='togglePremise' event='toggle-premise' :default='["Control", "p"]')
            tr
              td Add statement before
              td
                key-recorder(@add-statement-before='addStatementBefore' event='add-statement-before' :default='["Control", "b"]')
            tr
              td Add statement after
              td
                key-recorder(@add-statement-after='addStatementAfter' event='add-statement-after' :default='["Control", "a"]')
            tr
              td Create branch
              td
                key-recorder(@create-branch='createBranch' event='create-branch' :default='["Control", "Shift", "B"]')
            tr
              td Delete statement
              td
                key-recorder(@delete-statement='deleteStatement' event='delete-statement' :default='["Control", "d"]')
            tr
              td Delete branch
              td
                key-recorder(@delete-branch='deleteBranch' event='delete-branch' :default='["Control", "Shift", "D"]')
      #substitutions-modal.modal.card(style={display: 'none'})
        i.fas.fa-times.modal-close(onclick='this.parentNode.style.display = "none"')
        h2.center Substitutions
        table
          thead
            tr
              th Symbol
              th Text
          tbody
            tr
              td ¬
              td
                substitution-recorder(symbol='¬' default='~')
            tr
              td ∨
              td
                substitution-recorder(symbol=' ∨ ' default='|')
            tr
              td ∧
              td
                substitution-recorder(symbol=' ∧ ' default='&')
            tr
              td →
              td
                substitution-recorder(symbol=' → ' default='$')
            tr
              td ↔
              td
                substitution-recorder(symbol=' ↔ ' default='%')
            tr
              td ∀
              td
                substitution-recorder(symbol='∀' default='@')
            tr
              td ∃
              td
                substitution-recorder(symbol='∃' default='/')
            tr
              td ◯
              td
                substitution-recorder(symbol='◯' default=';')
            tr
              td ×
              td
                substitution-recorder(symbol='×' default="'")
    include /global/footer.pug
    script(src='./js/index.js' type='text/javascript')
