doctype html
html(lang='en')
  head
    title Preferences | Willow
    include /global/head.pug
  body
    include /global/header.pug
    +toolbar()
    .container.center
    include /global/footer.pug
