doctype html
html(lang='en')
  head
    title Settings | Willow
    include /global/head.pug
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Settings
      form#settings-form.large-form
        .field
          .left
            label(for='field-theme') Theme
          select#field-theme(v-model='theme')
            option(value='system') Use system default
            option(value='light') Light
            option(value='dark') Dark
    include /global/footer.pug
    script(src=`${env.BASE_URL}/js/settings.js` type='text/javascript')
