/* If you add a color to this file, make sure to add it to ./themes/dark.css as well. */

:root {
    /* Global colors */
    --text-dark: #000000;
    --text-medium: #808080;
    --text-light: #ffffff;
    --background: #ffffff;
    --primary: #c0e0c0;
    --primary-dark: #a0c0a0;

    /* Toolbar */
    --toolbar-background: #f0f0f0;
    --toolbar-dropdown-hover: #e0e0e0;
    --toolbar-dropdown-menu-shadow: rgba(0, 0, 0, 0.5);
    --toolbar-dropdown-menu-option: #f8f8f8;
    --toolbar-dropdown-menu-option-hover: #3399ff;
    --toolbar-dropdown-menu-dividing-line: #d0d0d0;

    /* Truth tree */
    --statement-correct: #80c080;
    --statement-incorrect: #c08080;
    --statement-error: #d0d000;
    --comment: #108030;
    --comment-border: #a0a0a0;
    --premise-label: #808080;
    --tt-chevron: #000000;
    --selected: rgba(51, 153, 255, 0.5);
    --antecedent: rgba(128, 192, 128, 0.5);
    --decomposition: rgba(192, 128, 128, 0.5);

    /* Status bar */
    --status-bar-foreground: #ffffff;
    --status-bar-background: rgba(0, 0, 0, 0.5);

    /* Miscellaneous */
    --header: #c0e0c0;
    --card-background: #f0f0f0;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --shortcut-conflict: #ff0000;
    --clear-shortcut: #000000;
    --modal-close-btn: #000000;
}
