.course-group > h2 {
    text-align: left;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33%;
}

.course h3 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.course .btn-container {
    justify-content: center;
}

.course a {
    white-space: nowrap;
}

#instructors, #students {
    display: inline-block;
}

.remove-btn {
    color: var(--text-dark);
    margin: 5px;
}

#field-emails {
    resize: vertical;
    width: 300px;
}

#field-role {
    margin-bottom: 10px;
}
