/***************/
/*** TOOLBAR ***/
/***************/
#toolbar {
  background-color: #f0f0f0;
}

#toolbar > .dropdown {
  display: inline-block;
  position: relative;
}

#toolbar button {
  background: none;
  border: none;
}

#toolbar > .dropdown > button {
  padding: 5px 10px;
}

#toolbar > .dropdown > button:hover {
  background-color: #e0e0e0;
}

#toolbar > .dropdown > .dropdown-menu {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

#toolbar > .dropdown > .dropdown-menu > .menu-option {
  background-color: #f8f8f8;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  display: block;
  font-size: 10pt;
  min-width: 100px;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

#toolbar > .dropdown > .dropdown-menu > .menu-option:hover {
  background-color: #3399ff;
  color: #ffffff;
}

#toolbar > .dropdown > .dropdown-menu > hr {
  border: none;
  border-top: 1px solid #c0c0c0;
  margin: 0px;
}

.branch-line {
  border: 1px solid #000000;
  margin: 0px;
  width: 50px;
}

.branch {
  border-left: 2px solid #000000;
  list-style: none;
  margin: 0px 0px 30px 50px;
  padding: 0px;
}

.branch > li {
  position: relative;
}

.truth-tree i.fas.fa-check, .truth-tree i.fas.fa-times {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

.truth-tree i.fas.fa-check {
  color: #c0e0c0;
}

.truth-tree i.fas.fa-times {
  color: #e0c0c0;
}

.statement {
  margin: 2px;
}

.premise-label {
  color: #808080;
  display: inline-block;
  font-style: italic;
  margin: 0px 0px 0px 10px;
}

.open-terminator, .closed-terminator {
  text-align: center;
}

.truth-tree i.fas.fa-ellipsis-v {
  margin: 5px;
}
