@import "/css/buttons.css";
@import "/css/tables.css";

:root {
  --color-primary: #bbddbb;
  --color-secondary: #88aa88;

  --color-light-red: #ff8888;
  --color-red: #cc3333;
  --color-dark-red: #990000;

  --color-light-orange: #ffbb88;
  --color-orange: #cc8833;
  --color-dark-orange: #995500;

  --color-light-yellow: #ffff88;
  --color-yellow: #cccc33;
  --color-dark-yellow: #999900;

  --color-light-green: #88ff88;
  --color-green: #33cc33;
  --color-dark-green: #009900;

  --color-light-cyan: #88bbff;
  --color-cyan: #3388cc;
  --color-dark-cyan: #005599;

  --color-light-blue: #8888ff;
  --color-blue: #3333cc;
  --color-dark-blue: #000099;

  --color-light-purple: #bb88ff;
  --color-purple: #8833cc;
  --color-dark-purple: #550099;

  --color-light-pink: #ff88ff;
  --color-pink: #cc33cc;
  --color-dark-pink: #990099;

  --color-light-brown: #886633;
  --color-brown: #553300;
  --color-dark-brown: #221100;

  --color-light-gray: #bbbbbb;
  --color-gray: #888888;
  --color-dark-gray: #555555;

  --color-light-silver: #eeeeee;
  --color-silver: #dddddd;
  --color-dark-silver: #cccccc;

  --color-white: #ffffff;
  --color-white-alt: #f8f8f8;
  --color-black: #000000;
  --color-black-alt: #080808;
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  display: table;
  margin: 0;
  min-width: 100%;
}


header * {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.close-button {
  color: var(--color-red);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  padding: 30px;
}

.dots {
  font-weight: bold;
  margin-left: 5px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu hr {
  border: none;
  border-top: solid 1px var(--color-light-gray);
  margin: 0px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
}

.fixed-panel * {
  vertical-align: middle;
}

.fixed-panel {
  background-color: var(--color-light-silver);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.left {
  text-align: left;
}

.m-0 {
  margin: 0px;
}

.msg-bar * {
  vertical-align: middle;
}

.msg-bar i.fas.fa-times-circle {
  cursor: pointer;
  font-size: 10pt;
  position: absolute;
  top: 2px;
  right: 2px;
}

.msg-bar span {
  margin-left: 5px;
}

.msg-bar {
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 20%;
  right: 20%;
  left: 20%;
}

.navbar .navbar-link {
  color: var(--color-black);
  display: inline-block;
  text-decoration: none;
}

.navbar .navbar-link.active {
  background-color: var(--color-primary);
}
.navbar .navbar-link:hover {
  background-color: var(--color-silver);
}

.navbar > * {
  padding: 10px;
  vertical-align: middle;
}

.navbar {
  background-color: var(--color-dark-silver);
}

.panel {
  background-color: var(--color-light-silver);
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: var(--color-black);
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  transition: all 0.33s;
}

.panel.clickable:hover {
  background-color: var(--color-white-alt);
}

.right {
  text-align: right;
}

.small {
  font-size: 10pt;
}

.toolbar .dropdown-menu {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.toolbar .menu-option {
  background-color: var(--color-white-alt);
  box-sizing: border-box;
  color: var(--color-black);
  cursor: default;
  display: block;
  font-size: 10pt;
  min-width: 100px;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

.toolbar .menu-option:hover {
  background-color: var(--color-light-cyan);
  color: var(--color-white);
}

.toolbar button {
  background-color: var(--color-light-silver);
  border: none;
  padding: 5px 10px;
}

.toolbar button:hover, .toolbar button:focus {
  background-color: var(--color-silver);
}

.toolbar {
  background-color: var(--color-light-silver);
}

#error-bar {
  background-color: var(--color-light-red);
  border: 1px solid var(--color-dark-red);
  color: var(--color-dark-red);
}

#info-bar {
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
}
