/********************/
/*** GLOBAL RULES ***/
/********************/

* {
  font-family: Roboto, sans-serif;
}

code, tt {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0px;
  min-height: 100vh;
}

/**************/
/*** HEADER ***/
/**************/
#header {
  background-color: #c0e0c0;
}

#header > * {
  display: inline-block;
  vertical-align: middle;
}

#header img {
  margin: 20px;
  width: 50px;
}

/**************/
/*** LAYOUT ***/
/**************/
.container {
  margin: 30px 100px;
}

.row, .column {
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.row > *, .column > * {
  flex: 1;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a.hidden {
  color: inherit;
  text-decoration: inherit;
}

button.hidden {
  background: none;  
  border: none;
  cursor: pointer;
}
