table.table-style-simple {
  border-collapse: collapse;
}

table.table-style-simple th {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  font-weight: bold;
}

table.table-style-simple th, table.table-style-simple td {
  border: 1px solid var(--color-gray);
  padding: 5px;
}

table.table-style-simple tr:nth-child(even) {
  background-color: #eeeeee;
}

table.table-style-simple tr:nth-child(odd) {
  background-color: var(--color-white);
}

.col-key * {
  width: 100%;
}

.col-key {
  width: 50px;
}

.col-left {
  width: 100%;
}

.col-right {
  width: 200px;
}

.col-grow {
  width: 100%;
}
