* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  text-align: center;
  padding: 8px;
}

.level-separator {
  border-top: solid 1px #000000;
  display: flex;
  padding-top: 30px;
}
